# Docker Environment Variables

# Application
APP_NAME=RestoPOS
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

# Database
DB_DATABASE=restopos
DB_USERNAME=restopos
DB_PASSWORD=secret

# Ports
NGINX_PORT=8080
MYSQL_PORT=3306
REDIS_PORT=6379
PHPMYADMIN_PORT=8081
MAILPIT_PORT=8025
REVERB_PORT=8085
NODE_PORT=3000
